@model EmployeeLeaveRequestViewVM

@{
	ViewData["Title"] = "My leave";
}

<div class="card">
	<div class="card-header">
		<h2>Leave Allocations</h2>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<div class="row">
				<div class="col">Leave name</div>
				<div class="col">Original allocation</div>
				<div class="col">Current allocation</div>
			</div>
		</li>
		@foreach (var allocation in Model.LeaveAllocations)
		{
			<li class="list-group-item">
				<div class="row">
					<div class="col"><h6>@allocation.LeaveType?.Name</h6></div>
					<div class="col">
						<span class="badge bg-primary">
							Allocated Days: @allocation.LeaveType?.DefaultDays
						</span>
					</div>
					<div class="col">
						<span class="badge bg-primary">
							Remaining Days: @allocation.NumberOfDays
						</span>
					</div>
				</div>
			</li>
		}
	</ul>
</div>

<hr />
<h2>Current requests</h2>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.LeaveRequests)
		{
			if (item.Approved == null && item.Cancelled == false)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.StartDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EndDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LeaveType.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DateRequested)
					</td>
					<td>
						@if (item.Cancelled)
						{
							<span class="badge bg-secondary">Cancelled</span>
						}
						else if (item.Approved == null)
						{
							<span class="badge bg-warning">Pending</span>
						}
						else if (item.Approved.Value == true)
						{
							<span class="badge bg-success">Approved</span>
						}
						else if (item.Approved.Value == false)
						{
							<span class="badge bg-danger">Rejected</span>
						}
					</td>
					<td>							
						<button data-id="@item.Id" type="button" class="btn btn-danger btn-sm deleteBtn">
							<i class="fa-solid fa-trash"></i>Cancel Request
						</button>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<hr />
<h2>Past requests</h2>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.LeaveRequests)
		{
			if (item.Approved != null || item.Cancelled == true)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.StartDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EndDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LeaveType.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DateRequested)
					</td>
					<td>
						@if (item.Cancelled)
						{
							<span class="badge bg-secondary">Cancelled</span>
						}
						else if (item.Approved == null)
						{
							<span class="badge bg-warning">Pending</span>
						}
						else if (item.Approved.Value)
						{
							<span class="badge bg-success">Approved</span>
						}
						else if (item.Approved.Value == false)
						{
							<span class="badge bg-danger">Rejected</span>
						}
					</td>
				</tr>
			}
		}
	</tbody>
</table>


<form id="deleteForm" asp-action="Cancel">
	<input type="hidden" id="leaveRequestId" name="Id" />
</form>

@section Scripts
{
	<script>
		$(function () {

			$('.deleteBtn').click(function (e) {
				swal(
					{
						title: "Are you sure?",
						text: "Are you sure you want to delte this record?",
						icon: "warning",
						buttons: true,
						dangerMode: true
					}
				).then((confirm) => {
					if (confirm) {
						var btn = $(this);
						var id = btn.data("id");
						$('#leaveRequestId').val(id);
						$('#deleteForm').submit();
					}
				}
				);
			});
		});
	</script>
}